.App {
  text-align: center;
}

.search-form {
  margin: 20px;
}

.search-bar {
  width:40%;
  height:40px;
}

.search-button {
  height:40px;
  width:120px;
  margin:0 5px;
}

.resultBody {
  width: 80%;
  margin: auto;
  padding: 0;  
}

.ingredientList{
  display: inline-block; 
  text-align: left; 
  margin: 0;
  padding:0;
}

.imageFrame {
  display:flex;
  align-items:center;
}

.resultImage {
  width:90%;
  border-radius:5px;
}
